Repository unionlabs/union, changes with the owners that CODEOWNERS names for each.
All owners: @benluelo, @aeryz, @cor, @hussein-aitlahcen, @KaiserKarel, @PoisonPhang, @swepool

chore(app2): fmt
  app2/src/lib/components/Transfer/Amount.svelte
  app2/src/lib/services/transfer-ucs03-evm/approval.ts
  app2/src/lib/services/transfer-ucs03-evm/machine.ts
  app2/src/lib/services/transfer-ucs03-evm/transactions.ts
Owners: none

fix(app2): better loading state quote weth
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/schema/chain.ts
  app2/src/lib/schema/token.ts
  app2/src/lib/schema/transfer-args.ts
Owners: none

chore(app2): fmt
  app2/src/lib/components/Transfer/Assets.svelte
  app2/src/lib/components/Transfer/transfer.svelte.ts
Owners: none

fix(app2): use gen fn
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/schema/token.ts
Owners: none

chore(app2): fmt
  app2/src/lib/schema/channel.ts
Owners: none

fix(app2): better errors for quote and weth
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/schema/token.ts
  app2/src/lib/services/transfer-ucs03-evm/errors.ts
  app2/src/lib/services/transfer-ucs03-evm/quote-token.ts
  app2/src/lib/services/transfer-ucs03-evm/weth-token.ts
Owners: none

fix(app2): fix isHex comment
  app2/src/lib/schema/token.ts
  app2/src/lib/services/transfer-ucs03-evm/address.ts
Owners: none

chore(app2): fmt
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/schema/token.ts
Owners: none

fix(app2): simplify derived transfer values using option functor
  app2/src/lib/components/Transfer/transfer.svelte.ts
Owners: none

fix(app2): balance fetcher fix
  app2/src/lib/stores/wallets.svelte.ts
Owners: none

fix(app2): use portid, channelid, connectionid
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/schema/channel.ts
  app2/src/lib/services/transfer-ucs03-evm/channel.ts
  app2/src/lib/services/transfer-ucs03-evm/quote-token.ts
Owners: none

fix(app2): use chain rpcs
  app2/src/lib/schema/channel.ts
  app2/src/lib/schema/token.ts
  app2/src/lib/services/cosmos/clients.ts
  app2/src/lib/services/cosmos/rpc.ts
  app2/src/lib/services/transfer-ucs03-evm/address.ts
  app2/src/lib/services/transfer-ucs03-evm/channel.ts
  app2/src/lib/services/transfer-ucs03-evm/quote-token.ts
Owners: none

fix(app2): remove filter
  app2/src/lib/queries/channels.svelte.ts
Owners: none

fix(app2): resolve comment on convert display addr
  app2/src/lib/utils/convert-display.ts
  app2/src/routes/+layout.svelte
Owners: none

chore(ci): zkgm checks
  cosmwasm/cosmwasm.nix
Owners: none

chore(app2): pre commit
  app2/src/lib/utils/convert-display.ts
Owners: none

fix(app2): change navigation
  app2/src/lib/components/layout/Sidebar/navigation.ts
  app2/src/routes/transfer/+page.svelte
  app2/src/routes/transfer/native/+page.svelte
  app2/src/routes/transfer/ucs03/+page.svelte
Owners: none

chore(zkgm): refactor path/channel bit manipulation
  cosmwasm/ibc-union/app/ucs03-zkgm/src/contract.rs
Owners: none

feat(app2): show packet details on the transfer page
  app2/src/lib/components/model/PacketComponent.svelte
  app2/src/lib/schema/packet.ts
  app2/src/routes/explorer/packets/[packet_hash]/+page.svelte
  app2/src/routes/explorer/transfers/[packet_hash]/+page.svelte
Owners: none

fix(app2): store wip pages in a developer section
  app2/src/lib/components/layout/Sidebar/navigation.ts
Owners: none

feat(app2): toggleable developer section in sidebar
  app2/src/lib/components/SettingsModal.svelte
  app2/src/lib/components/layout/Sidebar/index.svelte
  app2/src/lib/components/layout/Sidebar/navigation.ts
  app2/src/lib/stores/ui.svelte.ts
Owners: none

fix(app2): arbitrary sort order
  app2/src/lib/schema/sort-order.ts
Owners: none

chore: fmt
  app2/CONVENTIONS.md
  app2/src/routes/explorer/transfers/[packet_hash]/+page.svelte
Owners: none

chore: trigger ci
  app2/README.md
Owners: none

chore: fix voyager nix config
  voyager/voyager.nix
Owners: @benluelo

feat(app2): geist font
  app2/src/app.css
  app2/static/fonts/GeistMono[wght].woff2
  app2/static/fonts/Geist[wght].woff2
Owners: none

fix(zkgm): revert batch if any instruction require a market maker
  cosmwasm/ibc-union/app/ucs03-zkgm/src/contract.rs
  cosmwasm/ibc-union/app/ucs03-zkgm/src/lib.rs
  cosmwasm/ibc-union/app/ucs03-zkgm/src/state.rs
  evm/contracts/apps/ucs/03-zkgm/Zkgm.sol
Owners: none

chore: voyager.nix only filter necessary attributes for configuration
  voyager/voyager.nix
Owners: @benluelo

feat(app2): add statistics explorer
  app/src/generated/graphql-env.d.ts
  app2/src/lib/queries/statistics.svelte.ts
  app2/src/lib/schema/statistics.ts
  app2/src/lib/stores/statistics.svelte.ts
  app2/src/routes/explorer/+page.svelte
Owners: @cor, @benluelo, @swepool

chore(voyager): update nixos module config definition
  voyager/voyager.nix
Owners: @benluelo

fix(app2): delete clearFiber
  app2/src/lib/stores/statistics.svelte.ts
Owners: none

fix(app2): refine stats page
  app2/CONVENTIONS.md
  app2/src/routes/explorer/+page.svelte
Owners: none

docs(app2): note how to use existing components
  app2/CONVENTIONS.md
Owners: none

fix(app2): polish
  app2/CONVENTIONS.md
  app2/src/routes/explorer/+page.svelte
Owners: none

chore(sentinel): added movement integration
  sentinel/src/sentinel.ts
Owners: none

fix(app2): use datetime on the stats page
  app2/CONVENTIONS.md
  app2/src/lib/components/ui/DateTimeComponent.svelte
  app2/src/lib/schema/statistics.ts
  app2/src/routes/explorer/+page.svelte
Owners: none

feat(app2): stat display names
  app2/src/lib/components/model/StatisticComponent.svelte
  app2/src/routes/explorer/+page.svelte
Owners: none

feat(voyager): multi-instance nix module
  voyager/voyager.nix
Owners: @benluelo

feat(app2): render bar chart
  app2/src/routes/explorer/+page.svelte
Owners: none

fix(app2): refine bar chart
  app2/src/routes/explorer/+page.svelte
Owners: none

CODEOWNERS:

/deployments/deployments.json @benluelo
/networks/genesis/ @aeryz @benluelo @cor @hussein-aitlahcen @KaiserKarel @PoisonPhang
/.github/ @PoisonPhang
/voyager/ @benluelo
/galoisd/ @hussein-aitlahcen
/app/ @cor @benluelo @swepool
/site/ @cor
