Repository unionlabs/union, changes with the owners that CODEOWNERS names for each.
All owners: @benluelo, @aeryz, @cor, @hussein-aitlahcen, @KaiserKarel, @PoisonPhang, @swepool

feat(app2): save validation progress
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/components/Transfer/validation.ts
  app2/src/lib/schema/token.ts
  app2/src/lib/schema/transfer-args.ts
  app2/src/routes/transfer/+layout.svelte
Owners: none

feat(app2): save progress
  app2/src/lib/components/Transfer/context.svelte.ts
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/components/Transfer/validation.ts
  app2/src/lib/schema/chain.ts
  app2/src/lib/schema/token.ts
  app2/src/lib/services/shared/amount.ts
  app2/src/lib/services/shared/quote-token.ts
  app2/src/lib/services/shared/weth-token.ts
  app2/src/lib/services/transfer-ucs03-aptos/state.ts
  app2/src/lib/services/transfer-ucs03-evm/chain.ts
  app2/src/lib/services/transfer-ucs03-evm/errors.ts
  app2/src/lib/services/transfer-ucs03-evm/machine.ts
  app2/src/lib/services/transfer-ucs03-evm/state.ts
  app2/src/routes/transfer/+layout.svelte
  app2/src/routes/transfer/+page.svelte
Owners: none

chore(app2): fmt
  app2/src/lib/services/shared/quote-token.ts
  app2/src/lib/services/shared/weth-token.ts
  ts-sdk/examples/quote-token-sepolia.ts
Owners: none

fix(app2): resolve comments
  app2/src/lib/schema/chain.ts
  app2/src/lib/services/shared/quote-token.ts
  app2/src/lib/services/transfer-ucs03-evm/chain.ts
  app2/src/lib/services/transfer-ucs03-evm/machine.ts
Owners: none

fix(app2): rename to Evm
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/schema/address.ts
  app2/src/lib/schema/token.ts
  app2/src/lib/schema/transfer-args.ts
  app2/src/lib/services/evm/balances.ts
  app2/src/lib/utils/convert-display.ts
Owners: none

fix(app2): missed two renamings
  app2/src/lib/schema/transfer-args.ts
Owners: none

fix(union-testnet-10): set feemarket denom
  networks/genesis/union-testnet-10/genesis.json
Owners: @aeryz, @benluelo, @cor, @hussein-aitlahcen, @KaiserKarel, @PoisonPhang

feat(unionvisor): add testnet 10 bundle
  unionvisor/unionvisor.nix
Owners: none

feat(ci): add bundle-testnet-10 to workflow
  .github/workflows/release-component.yml
Owners: @PoisonPhang

chore(ci): test workflow
  .github/workflows/release-component.yml
Owners: @PoisonPhang

fix(app2): use string
  app2/src/lib/schema/chain.ts
Owners: none

chore: revert "chore(ci): test workflow"
  .github/workflows/release-component.yml
Owners: @PoisonPhang

chore(aptos): complete connection open tests
  aptos/ibc/sources/ibc.move
Owners: none

feat(ts-sdk): order-creation effect
  ts-sdk/examples/quote-token-sepolia.ts
  ts-sdk/src/evm/quote-token.ts
  ts-sdk/src/evm/ucs03/fungible-asset-order.ts
  ts-sdk/src/evm/ucs03/index.ts
Owners: none

feat(ts-sdk): createFungibleAssetOrder example
  ts-sdk/examples/create-fungible-asset-order.ts
  ts-sdk/src/evm/ucs03/fungible-asset-order.ts
Owners: none

refactor(app2): save progress
  app2/src/lib/components/Transfer/handlers/aptos.ts
  app2/src/lib/components/Transfer/handlers/cosmos.ts
  app2/src/lib/components/Transfer/handlers/evm.ts
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/components/Transfer/validation.ts
  app2/src/lib/services/transfer-ucs03-cosmos/machine.ts
  app2/src/lib/services/transfer-ucs03-cosmos/transactions.ts
  app2/src/lib/services/transfer-ucs03-evm/machine.ts
  app2/src/routes/transfer/+layout.svelte
Owners: none

feat(ts-sdk): cosmos client and contract wrappers
  package-lock.json
  package.json
  ts-sdk/examples/cosmos-execute-contract.ts
  ts-sdk/examples/cosmos-read-contract.ts
  ts-sdk/package-lock.json
  ts-sdk/package.json
  ts-sdk/src/cosmos/client.ts
  ts-sdk/src/cosmos/contract.ts
  ts-sdk/src/cosmos/index.ts
  ts-sdk/src/evm/ucs03/fungible-asset-order.ts
  ts-sdk/src/index.ts
Owners: none

feat(ts-sdk): read cw20s
  ts-sdk/examples/cosmos-read-cw20.ts
  ts-sdk/src/cosmos/cw20.ts
  ts-sdk/src/cosmos/index.ts
Owners: none

feat(ts-sdk): read erc20 and cw20 balances
  ts-sdk/examples/cosmos-read-cw20.ts
  ts-sdk/examples/read-erc20-balance.ts
  ts-sdk/src/cosmos/cw20.ts
  ts-sdk/src/evm/erc20.ts
Owners: none

feat(ts-sdk): ecossystem specific order creation
  ts-sdk/examples/create-fungible-asset-order.ts
  ts-sdk/src/cosmos/quote-token.ts
  ts-sdk/src/evm/ucs03/fungible-asset-order.ts
Owners: none

fix(app2): handlers and retry works
  app2/src/lib/components/Transfer/handlers/aptos.ts
  app2/src/lib/components/Transfer/handlers/cosmos.ts
  app2/src/lib/components/Transfer/handlers/evm.ts
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/services/transfer-ucs03-evm/approval.ts
  app2/src/lib/services/transfer-ucs03-evm/machine.ts
  app2/src/routes/+layout.svelte
Owners: none

chore(aptos): channel tests
  aptos/ibc/sources/channel_handshake.move
  aptos/ibc/sources/dispatcher.move
  aptos/ibc/sources/ibc.move
Owners: none

feat(ts-sdk): create cosmos fungible asset orders
  ts-sdk/examples/cosmos-read-contract.ts
  ts-sdk/examples/cosmos-to-evm-transfer.ts
  ts-sdk/examples/create-fungible-asset-order.ts
  ts-sdk/src/cosmos/client.ts
  ts-sdk/src/cosmos/quote-token.ts
  ts-sdk/src/evm/ucs03/fungible-asset-order.ts
Owners: none

feat(ts-sdk): cosmos -> cosmos fungible asset order example
  ts-sdk/examples/create-fungible-asset-order.ts
Owners: none

fix(ts-sdk): cleanup
  ts-sdk/package-lock.json
  ts-sdk/package.json
  ts-sdk/patches/@cosmjs+amino+0.33.0.patch
  ts-sdk/patches/@cosmjs+tendermint-rpc+0.33.0.patch
  ts-sdk/src/evm/ucs03/fungible-asset-order.ts
  ts-sdk/test/evm/quote-token.test.ts
  ts-sdk/ts-sdk.nix
Owners: none

test(ts-sdk): fungible asset order creation
  ts-sdk/src/cosmos/quote-token.ts
  ts-sdk/test/evm/fungible-asset-order.test.ts
Owners: none

chore: fmt
  app2/src/lib/services/shared/quote-token.ts
  app2/src/lib/services/shared/weth-token.ts
  ts-sdk/examples/cosmos-execute-contract.ts
  ts-sdk/examples/cosmos-read-contract.ts
  ts-sdk/examples/cosmos-read-cw20.ts
  ts-sdk/examples/cosmos-to-evm-transfer.ts
  ts-sdk/examples/quote-token-sepolia.ts
  ts-sdk/examples/read-erc20-balance.ts
  ts-sdk/src/cosmos/cw20.ts
  ts-sdk/src/cosmos/quote-token.ts
  ts-sdk/src/evm/erc20.ts
  ts-sdk/src/evm/ucs03/fungible-asset-order.ts
  ts-sdk/test/evm/fungible-asset-order.test.ts
Owners: none

fix(app2): asset selection fixes
  app2/src/lib/components/Transfer/ChainAsset/AssetSelector.svelte
  app2/src/lib/components/Transfer/ChainAsset/TransferAsset.svelte
  app2/src/lib/components/Transfer/ChainAsset/index.svelte
  app2/src/lib/components/icons/SharpArrowLeft.svelte
Owners: none

chore: delete rogue package.json
  package-lock.json
  package.json
Owners: none

feat(app2): set max, show balance
  app2/src/lib/components/Transfer/Amount.svelte
  app2/src/lib/components/Transfer/ChainAsset/TransferAsset.svelte
Owners: none

feat(app2): combine chain asset selection
  app2/src/lib/components/Transfer/Assets.svelte
  app2/src/lib/components/Transfer/Chain.svelte
  app2/src/lib/components/Transfer/ChainAsset/AssetSelector.svelte
  app2/src/lib/components/Transfer/ChainAsset/ChainAssetButton.svelte
  app2/src/lib/components/Transfer/ChainAsset/ChainSelector.svelte
  app2/src/lib/components/Transfer/ChainAsset/index.svelte
  app2/src/lib/components/Transfer/index.svelte
Owners: none

feat(app2): use connected wallet
  app2/src/lib/components/Transfer/Receiver.svelte
Owners: none

feat(app2): add direction info
  app2/src/lib/components/Transfer/ChainAsset/ChainAssetButton.svelte
  app2/src/lib/components/Transfer/ChainAsset/ChainSelector.svelte
  app2/src/lib/components/Transfer/ChainAsset/TransferDirectionInfo.svelte
  app2/src/lib/components/Transfer/ChainAsset/index.svelte
Owners: none

feat(app2): fetch and show balances
  app2/src/lib/components/Transfer/ChainAsset/AssetSelector.svelte
  app2/src/lib/components/Transfer/ChainAsset/ChainSelector.svelte
  app2/src/lib/components/Transfer/ChainAsset/TransferAsset.svelte
Owners: none

fix(app2): run checks pls
  app2/src/lib/components/Transfer/index.svelte
Owners: none

fix(app2): cleaner
  app2/src/lib/components/Transfer/Amount.svelte
  app2/src/lib/components/Transfer/ChainAsset/AssetSelector.svelte
  app2/src/lib/components/Transfer/ChainAsset/TransferAsset.svelte
  app2/src/lib/components/Transfer/ChainAsset/index.svelte
  app2/src/lib/components/Transfer/context.svelte.ts
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/components/Transfer/transfer.svelte.ts
Owners: none

fix(app2): clean up chain asset
  app2/src/lib/components/Transfer/ChainAsset/AssetSelector.svelte
  app2/src/lib/components/Transfer/ChainAsset/TransferAsset.svelte
  app2/src/lib/components/Transfer/ChainAsset/index.svelte
  app2/src/routes/transfer/+layout.svelte
Owners: none

fix(app2): export for usage
  app2/src/lib/stores/balances.svelte.ts
Owners: none

fix(app2): handle balance better
  app2/src/lib/components/Transfer/Amount.svelte
Owners: none

fix(app2): move effects
  app2/src/lib/components/Transfer/index.svelte
  app2/src/routes/transfer/+layout.svelte
Owners: none

CODEOWNERS:

/deployments/deployments.json @benluelo
/networks/genesis/ @aeryz @benluelo @cor @hussein-aitlahcen @KaiserKarel @PoisonPhang
/.github/ @PoisonPhang
/voyager/ @benluelo
/galoisd/ @hussein-aitlahcen
/app/ @cor @benluelo @swepool
/site/ @cor
