Repository unionlabs/union, changes with the owners that CODEOWNERS names for each.
All owners: @benluelo, @aeryz, @cor, @hussein-aitlahcen, @KaiserKarel, @PoisonPhang, @swepool

CODEOWNERS:

/deployments/deployments.json @benluelo
/networks/genesis/ @aeryz @benluelo @cor @hussein-aitlahcen @KaiserKarel @PoisonPhang
/.github/ @PoisonPhang
/voyager/ @benluelo
/galoisd/ @hussein-aitlahcen
/app/ @cor @benluelo @swepool
/site/ @cor

chore(app): changed hash again
  app/package-lock.json
  typescript-sdk/package.json
Owners: @cor, @benluelo, @swepool

chore(docs): sunset ucs01
  docs/src/content/docs/integrations/api/graphql.mdx
  docs/src/content/docs/integrations/ucs01/cosmwasm/index.mdx
  docs/src/content/docs/integrations/ucs01/solidity/index.mdx
  docs/src/content/docs/protocol/channels/overview.mdx
  docs/src/content/docs/protocol/channels/ucs01-relay.mdx
  docs/src/content/docs/protocol/channels/ucs02-nft.mdx
  docs/src/content/docs/protocol/channels/ucs03-zkgm.mdx
  docs/src/content/docs/protocol/connections/direct.mdx
  docs/src/content/docs/protocol/overview.mdx
Owners: none

refactor(app2): header component
  app2/src/lib/components/layout/Header/index.svelte
  app2/src/routes/+layout.svelte
Owners: none

docs(app2): array syntax convention
  app2/CONVENTIONS.md
Owners: none

feat(app2): breadcrumbs component
  app2/src/lib/components/layout/Header/Breadcrumbs.svelte
  app2/src/lib/components/layout/Header/index.svelte
  app2/src/routes/explorer/transfers/[packet_hash]/+page.svelte
Owners: none

feat(app2): refine breadcrumbs
  app2/src/lib/components/layout/Header/Breadcrumbs.svelte
Owners: none

chore: fmt
  app2/CONVENTIONS.md
  app2/src/lib/components/layout/Header/Breadcrumbs.svelte
Owners: none

feat(app2): save progress
  app2/src/lib/components/Transfer/Amount.svelte
  app2/src/lib/components/Transfer/Assets.svelte
  app2/src/lib/components/Transfer/Chain.svelte
  app2/src/lib/components/Transfer/Receiver.svelte
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/queries/channels.ts
  app2/src/lib/queries/tokens.svelte.ts
  app2/src/lib/schema/address.ts
  app2/src/lib/schema/token.ts
  app2/src/lib/services/transfer-ucs03-evm/address.ts
  app2/src/lib/services/transfer-ucs03-evm/chain.ts
  app2/src/lib/services/transfer-ucs03-evm/channels.ts
  app2/src/lib/services/transfer-ucs03-evm/errors.ts
  app2/src/lib/stores/wallets.svelte.ts
  app2/src/lib/wallet/evm/index.ts
  app2/src/lib/wallet/evm/wagmi-config.ts
  app2/src/routes/transfer/+layout.svelte
  app2/src/routes/transfer/+page.svelte
  app2/src/routes/transfer/raw-transfer.svelte.ts
  app2/src/routes/transfer/transfer.svelte.ts
  app2/src/routes/transfer/ucs03/+page.svelte
Owners: none

feat(app2): save progress
  app2/src/lib/components/Transfer/Assets.svelte
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/services/transfer-ucs03-evm/channel.ts
  app2/src/lib/services/transfer-ucs03-evm/channels.ts
  app2/src/lib/services/transfer-ucs03-evm/errors.ts
  app2/src/lib/services/transfer-ucs03-evm/machine.ts
  app2/src/lib/services/transfer-ucs03-evm/quoteToken.ts
  app2/src/routes/transfer/transfer.svelte.ts
Owners: none

feat(app2): save progress
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/queries/channels.svelte.ts
  app2/src/lib/schema/channel.ts
  app2/src/lib/services/transfer-ucs03-evm/address.ts
  app2/src/lib/services/transfer-ucs03-evm/amount.ts
  app2/src/lib/services/transfer-ucs03-evm/errors.ts
  app2/src/lib/services/transfer-ucs03-evm/index.ts
  app2/src/lib/services/transfer-ucs03-evm/quoteToken.ts
  app2/src/lib/stores/channels.svelte.ts
  app2/src/routes/+layout.svelte
  app2/src/routes/transfer/transfer.svelte.ts
  typescript-sdk/src/generated/graphql-env.d.ts
Owners: none

feat(app2): save progress
  app2/src/lib/components/Transfer/Amount.svelte
  app2/src/lib/components/Transfer/Assets.svelte
  app2/src/lib/components/Transfer/Chain.svelte
  app2/src/lib/components/Transfer/Receiver.svelte
  app2/src/lib/components/Transfer/ShowData.svelte
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/schema/token.ts
  app2/src/lib/services/transfer-ucs03-evm/errors.ts
  app2/src/lib/services/transfer-ucs03-evm/quote-token.ts
  app2/src/routes/transfer/transfer.svelte.ts
Owners: none

feat(app2): save progress
  app2/package-lock.json
  app2/package.json
  app2/patches/@cosmjs+amino+0.33.0.patch
  app2/patches/@cosmjs+tendermint-rpc+0.33.0.patch
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/services/cosmos/clients.ts
  app2/src/lib/services/cosmos/rpc.ts
  app2/src/lib/services/transfer-ucs03-evm/quote-token.ts
Owners: none

feat(app2): save progress
  app2/src/lib/components/Transfer/Amount.svelte
  app2/src/lib/components/Transfer/Assets.svelte
  app2/src/lib/components/Transfer/Chain.svelte
  app2/src/lib/components/Transfer/Receiver.svelte
  app2/src/lib/components/Transfer/ShowData.svelte
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/components/Transfer/raw-transfer.svelte.ts
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/services/transfer-ucs03-evm/quote-token.ts
  app2/src/lib/services/transfer-ucs03-evm/weth-token.ts
  app2/src/routes/transfer/+layout.svelte
Owners: none

feat(app2): save progress
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/services/transfer-ucs03-evm/quote-token.ts
  app2/src/lib/services/transfer-ucs03-evm/weth-token.ts
Owners: none

feat(zkgm): restructure spec
  docs/src/content/docs/protocol/channels/ucs03-zkgm.mdx
Owners: none

feat(app2): save and move validation over
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/schema/token.ts
  app2/src/lib/schema/transfer-args.ts
  app2/src/lib/services/transfer-ucs03-evm/amount.ts
  app2/src/lib/services/transfer-ucs03-evm/weth-token.ts
  app2/src/lib/utils/convert-display.ts
Owners: none

feat(voyager): add expo backoff to failing items
  Cargo.lock
  lib/pg-queue/Cargo.toml
  lib/pg-queue/src/lib.rs
  voyager/src/main.rs
Owners: @benluelo

chore(app): changed ts sdk version & app hash
  app/app.nix
  app/package-lock.json
  app/package.json
  typescript-sdk/package.json
Owners: @cor, @benluelo, @swepool

feat(voyager): update nix config
  voyager/voyager.nix
Owners: @benluelo

feat(app2): optional truncate copy
  app2/src/lib/components/model/TokenComponent.svelte
  app2/src/lib/components/ui/Truncate.svelte
Owners: none

feat(app2): style transfer details page
  app2/src/lib/components/model/AddressComponent.svelte
  app2/src/lib/components/model/TokenComponent.svelte
  app2/src/lib/schema/chain.ts
  app2/src/routes/explorer/transfers/[packet_hash]/+page.svelte
Owners: none

feat(ci): release bundle-union-1
  .github/workflows/release-component.yml
Owners: @PoisonPhang

chore(ci): test workflow
  .github/workflows/release-component.yml
Owners: @PoisonPhang

chore: revert "chore(ci): test workflow"
  .github/workflows/release-component.yml
Owners: @PoisonPhang

feat(app2): better display
  app2/src/lib/components/model/TokenComponent.svelte
  app2/src/routes/explorer/transfers/[packet_hash]/+page.svelte
Owners: none

feat(app2): fancier from/to display
  app2/src/routes/explorer/transfers/[packet_hash]/+page.svelte
Owners: none

feat(app2): more integrated times
  app2/src/routes/explorer/transfers/[packet_hash]/+page.svelte
Owners: none

fix(ci): use full tag ref for release
  .github/workflows/release-component.yml
Owners: @PoisonPhang

feat(app2): better transfer details styling
  app2/src/lib/components/model/BlockHashComponent.svelte
  app2/src/routes/explorer/transfers/[packet_hash]/+page.svelte
Owners: none

chore: fmt
  app2/src/lib/schema/chain.ts
Owners: none

feat(ibc-union): introduce arbitrary client storage
  cosmwasm/ibc-union/core/light-client-interface/src/lib.rs
  cosmwasm/ibc-union/core/msg/src/lightclient.rs
  cosmwasm/ibc-union/core/src/contract.rs
  cosmwasm/ibc-union/lightclient/ethereum/src/client.rs
  cosmwasm/ibc-union/lightclient/ethereum/src/errors.rs
  cosmwasm/ibc-union/lightclient/ethereum/src/verification.rs
  lib/ethereum-light-client-types/src/client_state.rs
  lib/ethereum-light-client-types/src/consensus_state.rs
  lib/ethereum-light-client-types/src/light_client_update.rs
Owners: none

chore(voyager): reflect ethereum sync committee changes
  voyager/modules/client-bootstrap/ethereum/src/main.rs
  voyager/plugins/client-update/ethereum/src/main.rs
Owners: @benluelo

chore: reflect the changes to all of the clients
  cosmwasm/ibc-union/core/light-client-interface/src/lib.rs
  cosmwasm/ibc-union/core/msg/src/lightclient.rs
  cosmwasm/ibc-union/core/src/contract.rs
  cosmwasm/ibc-union/core/src/tests/channel/ibc_channel.rs
  cosmwasm/ibc-union/core/src/tests/client/ibc.rs
  cosmwasm/ibc-union/core/src/tests/connection/ibc.rs
  cosmwasm/ibc-union/lightclient/arbitrum/src/client.rs
  cosmwasm/ibc-union/lightclient/berachain/src/client.rs
  cosmwasm/ibc-union/lightclient/cometbls/src/client.rs
  cosmwasm/ibc-union/lightclient/ethereum/src/client.rs
  cosmwasm/ibc-union/lightclient/ethermint/src/client.rs
  cosmwasm/ibc-union/lightclient/movement/src/client.rs
  cosmwasm/ibc-union/lightclient/state-lens-ics23-mpt/src/client.rs
  cosmwasm/ibc-union/lightclient/state-lens-ics23-smt/src/client.rs
  cosmwasm/ibc-union/lightclient/tendermint/src/client.rs
  lib/ethereum-light-client-types/src/header.rs
Owners: none

chore: final touches to the clients
  cosmwasm/ibc-union/core/light-client-interface/src/lib.rs
  cosmwasm/ibc-union/core/src/contract.rs
  cosmwasm/ibc-union/lightclient/ethereum/src/client.rs
  lib/ethereum-light-client-types/src/client_state.rs
Owners: none

chore(ibc-union-lc): better interface
  cosmwasm/ibc-union/core/light-client-interface/src/lib.rs
  cosmwasm/ibc-union/lightclient/arbitrum/src/client.rs
  cosmwasm/ibc-union/lightclient/berachain/src/client.rs
  cosmwasm/ibc-union/lightclient/cometbls/src/client.rs
  cosmwasm/ibc-union/lightclient/ethereum/src/client.rs
  cosmwasm/ibc-union/lightclient/ethermint/src/client.rs
  cosmwasm/ibc-union/lightclient/movement/src/client.rs
  cosmwasm/ibc-union/lightclient/tendermint/src/client.rs
Owners: none

chore(ibc-union): prefix the raw lc storage
  cosmwasm/ibc-union/core/light-client-interface/src/lib.rs
  cosmwasm/ibc-union/core/src/contract.rs
  lib/ethereum-light-client-types/src/client_state.rs
Owners: none

feat(eth-lc): inverse aggregation during verification
  Cargo.lock
  cosmwasm/ibc-union/core/Cargo.toml
  cosmwasm/ibc-union/lightclient/ethereum/Cargo.toml
  cosmwasm/ibc-union/lightclient/ethereum/src/client.rs
  cosmwasm/ibc-union/lightclient/ethereum/src/verification.rs
  lib/ethereum-sync-protocol/Cargo.toml
  lib/ethereum-sync-protocol/src/error.rs
  lib/ethereum-sync-protocol/src/lib.rs
Owners: none

chore: save sync committee per sync committee period not epoch
  cosmwasm/ibc-union/core/light-client-interface/src/lib.rs
  cosmwasm/ibc-union/lightclient/ethereum/src/client.rs
  voyager/config.json
Owners: @benluelo

chore: followup fixes
  Cargo.lock
  cosmwasm/ibc-union/lightclient/ethereum/Cargo.toml
  cosmwasm/ibc-union/lightclient/ethereum/src/client.rs
  cosmwasm/ibc-union/lightclient/ethereum/src/verification.rs
  lib/ethereum-sync-protocol/Cargo.toml
Owners: none

chore: introduce `InverseSyncCommittee`
  Cargo.lock
  cosmwasm/ibc-union/core/Cargo.toml
  cosmwasm/ibc-union/lightclient/ethereum/Cargo.toml
  cosmwasm/ibc-union/lightclient/ethereum/src/client.rs
  cosmwasm/ibc-union/lightclient/ethereum/src/inverse_sync_committee.rs
  cosmwasm/ibc-union/lightclient/ethereum/src/lib.rs
  cosmwasm/ibc-union/lightclient/ethereum/src/verification.rs
  lib/ethereum-light-client-types/src/client_state.rs
Owners: none
