Repository unionlabs/union, changes with the owners that CODEOWNERS names for each.
All owners: @benluelo, @aeryz, @cor, @hussein-aitlahcen, @KaiserKarel, @PoisonPhang, @swepool

feat(cosmwasm): sunset ucs01/ucs02
  Cargo.lock
  Cargo.toml
  cosmwasm/ucs01-relay-api/Cargo.toml
  cosmwasm/ucs01-relay-api/src/lib.rs
  cosmwasm/ucs01-relay-api/src/middleware.rs
  cosmwasm/ucs01-relay-api/src/protocol.rs
  cosmwasm/ucs01-relay-api/src/types.rs
  cosmwasm/ucs01-relay/Cargo.toml
  cosmwasm/ucs01-relay/README.md
  cosmwasm/ucs01-relay/src/contract.rs
  cosmwasm/ucs01-relay/src/error.rs
  cosmwasm/ucs01-relay/src/ibc.rs
  cosmwasm/ucs01-relay/src/lib.rs
  cosmwasm/ucs01-relay/src/msg.rs
  cosmwasm/ucs01-relay/src/protocol.rs
  cosmwasm/ucs01-relay/src/state.rs
  cosmwasm/ucs02-nft/Cargo.toml
  cosmwasm/ucs02-nft/src/contract.rs
  cosmwasm/ucs02-nft/src/lib.rs
Owners: none

feat(ibc-union): cosmwasm: add caller/relayer on callbacks
  cosmwasm/ibc-union/app/ucs03-zkgm/src/contract.rs
  cosmwasm/ibc-union/app/ucs03-zkgm/src/msg.rs
  cosmwasm/ibc-union/core/light-client-interface/src/lib.rs
  cosmwasm/ibc-union/core/msg/src/lightclient.rs
  cosmwasm/ibc-union/core/msg/src/module.rs
  cosmwasm/ibc-union/core/src/contract.rs
  cosmwasm/ibc-union/lightclient/arbitrum/src/client.rs
  cosmwasm/ibc-union/lightclient/berachain/src/client.rs
  cosmwasm/ibc-union/lightclient/cometbls/src/client.rs
  cosmwasm/ibc-union/lightclient/ethereum/src/client.rs
  cosmwasm/ibc-union/lightclient/ethermint/src/client.rs
  cosmwasm/ibc-union/lightclient/movement/src/client.rs
  cosmwasm/ibc-union/lightclient/state-lens-ics23-mpt/src/client.rs
  cosmwasm/ibc-union/lightclient/state-lens-ics23-smt/src/client.rs
  cosmwasm/ibc-union/lightclient/tendermint/src/client.rs
Owners: none

chore(cosmwasm): upgrade cometbls light client to match new commitment prefix
  cosmwasm/ibc-union/lightclient/cometbls/src/client.rs
Owners: none

fix(evm): non failing verification
  evm/evm.nix
Owners: none

feat(union-testnet-10): genesis
  networks/genesis/union-testnet-10/genesis.json
Owners: @aeryz, @benluelo, @cor, @hussein-aitlahcen, @KaiserKarel, @PoisonPhang

chore: add genesis validators
  networks/genesis/union-testnet-10/genesis.json
Owners: @aeryz, @benluelo, @cor, @hussein-aitlahcen, @KaiserKarel, @PoisonPhang

feat(mpc): more notification
  mpc/coordinator/database.sql
  mpc/edge/supabase/functions/ping-v2/index.ts
Owners: none

feat(mpc): init proper supa project
  mpc/edge/supabase/config.toml
  mpc/edge/supabase/seed.sql
Owners: none

feat(mpc): notify slot 500/100/50
  mpc/edge/supabase/functions/ping-v2/index.ts
  mpc/edge/supabase/seed.sql
Owners: none

feat: nixd config for helix
  .helix/languages.toml
Owners: none

chore(appv2-movement): signing tx successfuly
  app2/package.json
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/services/aptos/clients.ts
  app2/src/lib/services/transfer-ucs03-aptos/account.ts
  app2/src/lib/services/transfer-ucs03-aptos/address.ts
  app2/src/lib/services/transfer-ucs03-aptos/chain.ts
  app2/src/lib/services/transfer-ucs03-aptos/channel.ts
  app2/src/lib/services/transfer-ucs03-aptos/errors.ts
  app2/src/lib/services/transfer-ucs03-aptos/index.ts
  app2/src/lib/services/transfer-ucs03-aptos/machine.ts
  app2/src/lib/services/transfer-ucs03-aptos/quote-token.ts
  app2/src/lib/services/transfer-ucs03-aptos/salt.ts
  app2/src/lib/services/transfer-ucs03-aptos/state.ts
  app2/src/lib/services/transfer-ucs03-aptos/transactions-aptos.ts
Owners: none

chore(appv2-movement): started integration wip
  app2/src/lib/services/shared/quote-token.ts
Owners: none

chore(appv2-movement): added package-lock too
  app2/package-lock.json
Owners: none

chore(appv2-movement): removed unnnecessary logs
  app2/src/lib/services/shared/quote-token.ts
  app2/src/lib/services/transfer-ucs03-aptos/transactions-aptos.ts
Owners: none

chore(appv2-movement): nix-fmt applied
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/services/aptos/clients.ts
  app2/src/lib/services/shared/quote-token.ts
  app2/src/lib/services/transfer-ucs03-aptos/chain.ts
  app2/src/lib/services/transfer-ucs03-aptos/machine.ts
  app2/src/lib/services/transfer-ucs03-aptos/quote-token.ts
  app2/src/lib/services/transfer-ucs03-aptos/salt.ts
  app2/src/lib/services/transfer-ucs03-aptos/state.ts
  app2/src/lib/services/transfer-ucs03-aptos/transactions-aptos.ts
Owners: none

chore(appv2-movement): fixed app2.nix
  app2/app2.nix
Owners: none

chore(appv2-movement): added isHexMovement function for receiver issue
  app2/src/lib/services/shared/address.ts
Owners: none

chore(appv2-movement): nix-fmt applied
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/services/shared/address.ts
  app2/src/lib/services/transfer-ucs03-aptos/state.ts
Owners: none

chore(appv2-movement): integrated movement
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/services/transfer-ucs03-aptos/machine.ts
  app2/src/lib/services/transfer-ucs03-aptos/state.ts
  app2/src/lib/services/transfer-ucs03-aptos/transactions-aptos.ts
Owners: none

chore(appv2-movement): making fmt happy
  app2/src/lib/components/Transfer/index.svelte
  app2/src/lib/components/Transfer/transfer.svelte.ts
  app2/src/lib/services/transfer-ucs03-aptos/transactions-aptos.ts
Owners: none

chore(appv2-movement): fixed comments
  app2/src/lib/services/aptos/clients.ts
  app2/src/lib/services/shared/quote-token.ts
  app2/src/lib/services/shared/salt.ts
  app2/src/lib/services/transfer-ucs03-aptos/quote-token.ts
  app2/src/lib/services/transfer-ucs03-aptos/salt.ts
  app2/src/lib/services/transfer-ucs03-aptos/transactions-aptos.ts
Owners: none

chore(appv2-movement): fixed fmt issues
  app2/src/lib/services/shared/quote-token.ts
  app2/src/lib/services/shared/salt.ts
Owners: none

ci(app2): add workflow
  .github/workflows/deploy-app2.yml
Owners: @PoisonPhang

feat(app2): rank in token schema
  app2/src/generated/graphql-env.d.ts
  app2/src/lib/queries/tokens.svelte.ts
  app2/src/lib/schema/token.ts
Owners: none

feat(app2): sequential token fetcher
  app2/src/lib/schema/token.ts
  app2/src/lib/services/cosmos/balances.ts
  app2/src/lib/services/evm/balances.ts
  app2/src/lib/stores/balances.svelte.ts
  app2/src/routes/balances/+page.svelte
Owners: none

feat(uniond): reuse libwasmvm release artifacts
  tools/libwasmvm/libwasmvm.nix
Owners: none

refactor(app2): more effective balance fetcher
  app2/src/lib/stores/balances.svelte.ts
Owners: none

feat(app2): query tokens by rank
  app2/src/lib/components/model/TokenComponent.svelte
  app2/src/lib/queries/tokens.svelte.ts
Owners: none

feat(app2): general token blacklist mechanism
  app2/src/lib/constants/tokens.ts
  app2/src/lib/queries/tokens.svelte.ts
Owners: none

fix(app2): cleanup
  app2/src/lib/stores/balances.svelte.ts
Owners: none

chore: update v1_0_0 input
  flake.lock
Owners: none

chore: update input
  flake.lock
Owners: none

feat(app2): combine chain asset selection
  app2/src/lib/components/Transfer/Assets.svelte
  app2/src/lib/components/Transfer/Chain.svelte
  app2/src/lib/components/Transfer/ChainAsset/AssetSelector.svelte
  app2/src/lib/components/Transfer/ChainAsset/ChainAssetButton.svelte
  app2/src/lib/components/Transfer/ChainAsset/ChainSelector.svelte
  app2/src/lib/components/Transfer/ChainAsset/index.svelte
  app2/src/lib/components/Transfer/index.svelte
Owners: none

feat(zkgm): ensure all structs are exported
  evm/contracts/apps/ucs/03-zkgm/Zkgm.sol
  evm/evm.nix
Owners: none

chore: bump wasmvm
  tools/libwasmvm/libwasmvm.nix
  uniond/go.mod
  uniond/go.sum
  uniond/uniond.nix
Owners: none

feat(zkgm): order version starts at 1
  cosmwasm/ibc-union/app/ucs03-zkgm/src/contract.rs
  evm/contracts/apps/ucs/03-zkgm/Zkgm.sol
Owners: none

fix(zkgm): cosmwasm: symmetric implementation to solidity
  cosmwasm/ibc-union/app/ucs03-zkgm/src/contract.rs
  cosmwasm/ibc-union/app/ucs03-zkgm/src/msg.rs
  cosmwasm/ibc-union/app/ucs03-zkgm/src/tests.rs
Owners: none

feat(app2): add direction info
  app2/src/lib/components/Transfer/ChainAsset/ChainAssetButton.svelte
  app2/src/lib/components/Transfer/ChainAsset/ChainSelector.svelte
  app2/src/lib/components/Transfer/ChainAsset/TransferDirectionInfo.svelte
  app2/src/lib/components/Transfer/ChainAsset/index.svelte
Owners: none

feat(app2): use connected wallet
  app2/src/lib/components/Transfer/Receiver.svelte
Owners: none

feat(zkgm): add channel to event and streamline writeAck in cosmwasm
  cosmwasm/ibc-union/app/ucs00-pingpong/src/contract.rs
  cosmwasm/ibc-union/app/ucs03-zkgm/src/contract.rs
  cosmwasm/ibc-union/core/msg/src/msg.rs
  cosmwasm/ibc-union/core/src/contract.rs
  cosmwasm/union-ibc/core/src/tests/channel/ibc_packet.rs
  evm/contracts/core/04-channel/IBCPacket.sol
  evm/tests/src/04-channel/IBCPacket.t.sol
  evm/tests/src/05-app/Zkgm.t.sol
Owners: none

CODEOWNERS:

/deployments/deployments.json @benluelo
/networks/genesis/ @aeryz @benluelo @cor @hussein-aitlahcen @KaiserKarel @PoisonPhang
/.github/ @PoisonPhang
/voyager/ @benluelo
/galoisd/ @hussein-aitlahcen
/app/ @cor @benluelo @swepool
/site/ @cor
