Repository unionlabs/union, changes with the owners that CODEOWNERS names for each.
All owners: @benluelo, @aeryz, @cor, @hussein-aitlahcen, @KaiserKarel, @PoisonPhang, @swepool

fix(app2): getRpcUrl
  app2/src/lib/schema/chain.ts
Owners: none

feat(zkgm): mermaid sequences
  docs/src/content/docs/protocol/channels/ucs03-zkgm.mdx
Owners: none

chore(zkgm): update spec
  docs/src/content/docs/protocol/channels/ucs03-zkgm.mdx
Owners: none

fix(zkgm): respect eureka specification
  cosmwasm/ibc-union/app/ucs03-zkgm/src/contract.rs
  cosmwasm/ibc-union/app/ucs03-zkgm/src/msg.rs
  evm/contracts/apps/ucs/03-zkgm/Zkgm.sol
  evm/tests/src/05-app/Zkgm.t.sol
Owners: none

chore(zkgm): normalize hexs
  docs/src/content/docs/protocol/channels/ucs03-zkgm.mdx
Owners: none

feat(app2): more balance fetching
  app2/src/lib/schema/chain.ts
  app2/src/lib/services/cosmos/balances.ts
  app2/src/routes/balances/+page.svelte
Owners: none

feat(app2): sorted-balances store
  app2/src/lib/schema/token.ts
  app2/src/lib/services/cosmos/balances.ts
  app2/src/lib/stores/sorted-balances.svelte.ts
  app2/src/routes/balances/+page.svelte
Owners: none

fix(app2): tokenrawamount type
  app2/src/lib/components/model/TokenComponent.svelte
Owners: none

feat(app2): get balance for chain
  app2/src/lib/stores/sorted-balances.svelte.ts
  app2/src/lib/stores/wallets.svelte.ts
  app2/src/routes/balances/+page.svelte
Owners: none

feat(app2): filter zero balances
  app2/src/lib/components/SettingsModal.svelte
  app2/src/lib/stores/ui.svelte.ts
  app2/src/routes/balances/+page.svelte
Owners: none

feat(app2): reactive fetch balances
  app2/src/routes/balances/+page.svelte
Owners: none

feat(app2): fix balance fetching
  app2/src/routes/balances/+page.svelte
Owners: none

chore: fmt
  app2/src/lib/components/model/ErrorComponent.svelte
  app2/src/lib/schema/chain.ts
  app2/src/lib/services/cosmos/balances.ts
  app2/src/lib/stores/sorted-balances.svelte.ts
  app2/src/lib/utils/queries.ts
Owners: none

fix(app2): npmDepsHash
  app2/app2.nix
Owners: none

refactor(app2): introduce utils/hex
  app2/src/lib/components/model/ErrorComponent.svelte
  app2/src/lib/schema/hex.ts
  app2/src/lib/services/cosmos/balances.ts
  app2/src/lib/utils/hex.ts
Owners: none

fix(app2): more cleanup
  app2/src/lib/services/cosmos/balances.ts
Owners: none

fix(app2): schedule constants
  app2/src/lib/constants/schedules.ts
  app2/src/lib/services/cosmos/balances.ts
Owners: none

fix(app2): further cleanup
  app2/src/lib/services/cosmos/balances.ts
Owners: none

fix(app2): further cleanup
  app2/src/lib/components/model/ErrorComponent.svelte
  app2/src/lib/schema/chain.ts
  app2/src/lib/services/cosmos/balances.ts
Owners: none

feat(app2): improve naming consistency
  app2/src/lib/constants/schedules.ts
  app2/src/lib/services/cosmos/balances.ts
  app2/src/lib/services/evm/balances.ts
Owners: none

fix(app2): more cleanup
  app2/src/lib/schema/chain.ts
  app2/src/lib/services/cosmos/balances.ts
  app2/src/lib/stores/balances.svelte.ts
  app2/src/lib/utils/base64.ts
Owners: none

chore: fmt
  app2/src/lib/schema/chain.ts
  app2/src/lib/schema/hex.ts
  app2/src/lib/services/evm/balances.ts
Owners: none

refactor(beacon-api-types): move types around clean up modules
  cosmwasm/ibc-union/lightclient/berachain/src/client.rs
  cosmwasm/ibc-union/lightclient/ethereum/src/client.rs
  cosmwasm/ibc-union/lightclient/ethereum/src/errors.rs
  lib/beacon-api-types/src/attestation_data.rs
  lib/beacon-api-types/src/beacon_block.rs
  lib/beacon-api-types/src/beacon_block_header.rs
  lib/beacon-api-types/src/chain_spec.rs
  lib/beacon-api-types/src/consts.rs
  lib/beacon-api-types/src/custom_types.rs
  lib/beacon-api-types/src/fork.rs
  lib/beacon-api-types/src/fork_data.rs
  lib/beacon-api-types/src/fork_parameters.rs
  lib/beacon-api-types/src/genesis_data.rs
  lib/beacon-api-types/src/lib.rs
  lib/beacon-api-types/src/light_client_finality_update.rs
  lib/beacon-api-types/src/light_client_update.rs
  lib/beacon-api-types/src/preset.rs
  lib/beacon-api-types/src/signing_data.rs
  lib/beacon-api-types/src/slot.rs
  lib/beacon-api/examples/tests.rs
  lib/beacon-api/src/client.rs
  lib/beacon-api/src/types.rs
  lib/ethereum-light-client-types/src/client_state.rs
  lib/ethereum-light-client-types/src/consensus_state.rs
  lib/ethereum-light-client-types/src/header.rs
  lib/ethereum-light-client-types/src/light_client_update.rs
  lib/ethereum-light-client-types/src/light_client_update_data.rs
  lib/ethereum-sync-protocol/src/error.rs
  lib/ethereum-sync-protocol/src/lib.rs
  lib/ethereum-sync-protocol/src/utils.rs
  voyager/modules/client-bootstrap/ethereum/src/main.rs
  voyager/modules/client/ethereum/src/main.rs
  voyager/modules/consensus/berachain/src/main.rs
  voyager/modules/consensus/ethereum/src/main.rs
  voyager/plugins/client-update/berachain/src/main.rs
  voyager/plugins/client-update/ethereum/src/main.rs
Owners: @benluelo

refactor(cli): replaced #[clap] with #[arg] and #[command]
  tools/devnet-utils/src/main.rs
Owners: none

chore(app): wip stargaze faucet added
  app/src/routes/faucet/(components)/stargaze-faucet.svelte
  app/src/routes/faucet/+page.svelte
  app/static/images/logo/stargaze-logo.svg
Owners: @cor, @benluelo, @swepool

chore(app): nix-fmt applied
  app/src/routes/faucet/(components)/stargaze-faucet.svelte
Owners: @cor, @benluelo, @swepool

chore(app): fixed text color
  app/src/routes/faucet/(components)/stargaze-faucet.svelte
Owners: @cor, @benluelo, @swepool

chore(app): fixed connect cosmos wallet bug
  app/src/routes/faucet/(components)/stargaze-faucet.svelte
  app/src/routes/faucet/+page.svelte
Owners: @cor, @benluelo, @swepool

chore(app): petra wallet connection/disconnection
  app/src/lib/components/TransferCube/components/Cube/faces/Transfer.svelte
  app/src/lib/components/connect/connect.svelte
  app/src/lib/wallet/aptos/config.ts
Owners: @cor, @benluelo, @swepool

chore(app): adding aptos balance fetcher wip
  app/src/lib/stores/balances.ts
  typescript-sdk/playground/union-to-movement.ts
  typescript-sdk/src/query/offchain/ucs03-channels.ts
Owners: @cor, @benluelo, @swepool

chore(app): adding predict token wrapped for aptos wip
  typescript-sdk/playground/union-to-movement.ts
  typescript-sdk/src/query/offchain/ucs03-channels.ts
Owners: none

chore(app): fetching movement balances
  app/src/lib/components/TransferCube/components/Cube/faces/Transfer.svelte
  app/src/lib/components/TransferCube/index.svelte
  app/src/lib/stores/balances.ts
  app/src/lib/utilities/neverthrow.ts
Owners: @cor, @benluelo, @swepool

chore(app): fixed union->movement transfer issue
  app/src/lib/components/TransferCube/components/Cube/faces/Transfer.svelte
Owners: @cor, @benluelo, @swepool

chore(app): frontend works for movement<->union both side
  app/src/lib/components/TransferCube/components/Cube/faces/Transfer.svelte
  typescript-sdk/playground/movement-to-union.ts
  typescript-sdk/playground/union-to-movement.ts
  typescript-sdk/src/aptos/client.ts
Owners: @cor, @benluelo, @swepool

chore(app): creating aptos client according to wallet wip
  typescript-sdk/src/aptos/client.ts
Owners: none

chore(app): applied nix-fmt
  app/src/lib/components/TransferCube/components/Cube/faces/Transfer.svelte
  app/src/lib/components/TransferCube/index.svelte
  app/src/lib/components/connect/connect.svelte
  app/src/lib/stores/balances.ts
  typescript-sdk/playground/movement-to-stride.ts
  typescript-sdk/playground/movement-to-union.ts
  typescript-sdk/playground/stride-to-movement.ts
  typescript-sdk/playground/union-to-movement.ts
  typescript-sdk/src/aptos/client.ts
  typescript-sdk/src/query/offchain/ucs03-channels.ts
Owners: @cor, @benluelo, @swepool

chore(app): added stride playground
  typescript-sdk/playground/movement-to-stride.ts
  typescript-sdk/playground/stride-to-movement.ts
  typescript-sdk/src/aptos/client.ts
Owners: none

chore(app): fixed fmt errors
  app/src/lib/components/TransferCube/components/Cube/faces/Transfer.svelte
  app/src/lib/components/TransferCube/index.svelte
  app/src/lib/stores/balances.ts
Owners: @cor, @benluelo, @swepool

chore(app): removed unnecessary rpc part
  app/src/lib/components/TransferCube/components/Cube/faces/Transfer.svelte
Owners: @cor, @benluelo, @swepool

chore(app): updated ts module
  app/package.json
Owners: @cor, @benluelo, @swepool

CODEOWNERS:

/deployments/deployments.json @benluelo
/networks/genesis/ @aeryz @benluelo @cor @hussein-aitlahcen @KaiserKarel @PoisonPhang
/.github/ @PoisonPhang
/voyager/ @benluelo
/galoisd/ @hussein-aitlahcen
/app/ @cor @benluelo @swepool
/site/ @cor
